# Ignore Python virtual environments
venv/
__pycache__/
*.pyc

# Ignore Robot Framework logs and reports
*.log
*.xml
*.html
playwright-log.txt

# Ignore node modules (used by robotframework-browser)
**/node_modules/

# Ignore OS-specific files
.DS_Store
Thumbs.db
